<!DOCTYPE html>
<html>
<head>
    <title>Form parameters parsing demo</title>
    <style>
        a {
            text-decoration: none;
            font-size: 22px;
        }

        h1 {
            font-weight: 400;
            margin-top: 10px;
        }

        ul {
            margin-top: 10px;
            margin-left: 20px;
        }

        .line {
            width: 96%;
            height: 1px;
            background-color: gray;
            opacity: 0.2;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <h1>Form parameters parsing demo</h1>
    <nav>
        <ul>
            <li><a href="/Quiz/IndexQuiz">Quiz</a></li>
            <li><a href="/Quiz/IndexQuizResult">QuizResult</a></li>
        </ul>
    </nav>
    <div class="line"></div>
</body>
</html>
