html {
    color: black;
    font-size: 14px;
    height: auto;
    position: relative;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}


.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

.navbar {
    background-color: #222222 !important;
    padding: 15px 0;
}

    .navbar .navbar-brand,
    .navbar .nav-link {
        color: #8d8d8e !important;
    }

        .navbar .nav-link:hover, .navbar .navbar-brand:hover {
            color: #ffffff !important;
        }

    .navbar .navbar-brand {
        font-size: 26px;
        font-weight: 500;
    }

    .navbar .nav-link {
        font-size: 24px;
        margin-left: 20px;
    }

main {
    margin-bottom: 60px;
}


.container-fluid {
    margin-left: 60px;
}

footer {
    color: black;
}
