@model LW_13_WebApplication.Controllers.QuizResults

<h1>Quiz Results</h1>
<p>Right answers @Model.CorrectAnswers out @Model.TotalQuestions</p>

<ol>
    @foreach (var item in Model.QuestionsAndAnswers)
    {
        <li>
            @item.Question @item.UserAnswer
        </li>
    }
</ol>

<style>
    p {
        font-size: 24px;
    }
</style>
