@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>
<p>@ViewBag.Num1 @ViewBag.Operation @ViewBag.Num2 = @ViewBag.Result</p>
<div class="line"></div>

<style>

    h1 {
        font-weight: 400;
    }

    p {
        margin: 0;
        font-size: 24px;
    }

      .line {
          width: 96%;
          height: 1px;
          background-color: gray;
          opacity: 0.2;
          margin-top: 30px;
      }

</style>\